@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins:wght@400;700&display=swap');
body{width: 375px; background-color:hsl(212, 45%, 89%) ; margin: auto;
font-family: 'Outfit';}
div.container{  background-color: white; text-align: center;
margin-top: 3em; margin-bottom: 3em; vertical-align: middle;
padding: 1.05em; border-radius: 25px;}
img{margin: auto; text-align: center; display: block; width: 99%;
border-radius: 10px;
margin-bottom: 2em}
p.bold{color:  hsl(218, 44%, 22%); font-weight: 700;
    font-size: 1.7rem;
}
p.light{color: hsl(220, 15%, 55%); font-size: 1.3rem;}